@media screen and (max-width: 1000px) {
	.intro-section {
		.main-title {
			font-size: 60px;
			@include margin(70px);
		}
	}
}

@media screen and (max-width: 600px) {
	.intro-section {
		.main-title {
			font-size: 40px;
			@include margin(50px);
		}

		.details_wrapper {
			width: 80%;

			.title {
				font-size: 16px;
			}
			.description {
				font-size: 12px;
			}
		}
	}

	.sensors-section {
		width: 90%;
		@include margin(10px auto);

		.main-title {
			font-size: 20px;
			@include margin(20px 0);
		}

		.sensor-card {
			@include padding(10px);
		}
	}

	.select-field {
		width: 100%;
		max-width: unset;
		@include margin(0 0 15px 0);
	}
}
